* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

.form-register {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'Helvetica';
  color: rgb(0, 0, 0);

}

.form-register h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #00000060;
  font-family: 'Helvetica';
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

.form-register a {
  color: rgb(104, 31, 98);
  text-decoration: none;
}

.form-register a:hover {
  color: rgb(104, 31, 98);
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: 14px;
  border-radius: 15px;
  padding: 12px;
  color: rgb(255, 255, 255);
  margin: 16px 0;
  font-size: 16px;
}

.form-register .botons2 {
  width: 100%;
  background: rgb(161, 60, 161);
  border: 14px;
  border-radius: 15px;
  padding: 12px;
  color: rgb(255, 255, 255);
  margin: 16px 0;
  font-size: 16px;
}